* {
    /* box-sizing: border-box; */
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

.custom-rotate {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotateY(0deg);
    }

    20% {
        transform: rotateY(360deg);
    }

    50% {
        transform: rotateY(360deg)
    }

    70% {
        transform: rotateY(0deg)
    }

    100% {
        transform: rotateY(0deg)
    }
}

.contact-page,
.home-page {
    animation: entrance 0.5s;
}

@keyframes entrance {
    from {
        transform: translateY(-500px);
    }

    to {
        transform: translateY(0);
    }
}